# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Env
venv/
env/
ENV/
.env
.venv

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDEs
.idea/
.vscode/
*.swp
.DS_Store

# Tooling
.ruff_cache/

